{% block body %}
<div class="main-light-grey">
<div class="inner-content news-story">
<h1 class='news-title'>{{post_title}}</h1> 
<span class='news-date'>{{post_date | date('Y-m-d')}}</span>
          


{{body | raw}}

 

</div><!-- inner-content(main-light-grey) -->
</div><!-- main-light-grey -->
{% endblock %}