{% block footer %}
<div id='footer-container'>
     <div class='inner-content'>
 		<div class='col span_1_of_3 newsletter'>
            <div class="inner">
                <p><span>Stay in touch</span></p>

             	<p>  Sign up for our mailing list<br>
             	If you would like to be kept up to date with all our latest news and developments then please submit your     e-mail address
             	  <form action='http://sendy.reconnix.com/subscribe' id='subscribe' name='subscribe' method='post' />
             		 <!--<input type='text' name='name' id='name'>-->
                        <input type='text' name='email' id='email'>
                        <input type='hidden' name='list' value='EfrGJcoyirlgRKArgw763892JA'>
                 	  <input type='submit' value='Join now!' />
             	  </form>
                </p>
                <div class='social-icons'>
                    <a href="https://twitter.com/reconnix"><div class='twitter-icon'></div></a>
                    <a href="http://www.linkedin.com/company/reconnix"><div class='linkedin-icon'></div></a>
                    <!--<a href='#'><img src='/assets/images/twitter.png' /></a>-->
                    <!--<a href='#'><img src='/assets/images/linkedin.png' /></a>-->
                </div>         
            </div>   
         </div><!-- newsletter -->
         <div class='col span_1_of_3 contact'>
             <p><span>Contact</span></p>
             <div class='section group'>
                 <div class='col span_1_of_2'>
                     <p class="contact">
                         Reconnix Limited<br>
                         Innovation House<br>
                         Cafferata Way<br>
                         Newark<br>
                         Nottinghamshire<br>
                         NG24 2TN<br><br>
                     </p>
                 </div>
                 <div class='col span_1_of_2'>
                     <p class="contact">
                     	<a href='mailto:info@reconnix.com'><span class='yellow'>e info@reconnix.com</span></a>
                     </p>
                     <p>
                         <span class='yellow'>t</span> 0845 421 0444<br>
                         <span class='yellow'>f</span> 01636 703 910<br>
                     </p>  
                 </div>
             </div><!-- contact section group -->
         </div><!-- contact -->
         <div class='col span_1_of_3 credentials'>
             <p><span>Accreditations</span></p>
             <div class='section group'>
                 <div class='col span_1_of_2 center-text'>
                     <img src="{{ asset('images/accreditation1_0.gif') }}" alt=''>
                     <p>
                         Certificate Number 8030<br>
                         <span class='iso'>ISO 9001<br></span>
                         <span class='iso'>ISO 27001</span>
                     </p>
                 </div>
                 <div class='col span_1_of_2'>
                     <img src="{{ asset('images/accreditation2_0.gif') }}" alt=''>
                      <p>
                         Certificate Number 8030<br>
                         <span class='iso'>ISO 20000</span>
                     </p>                           
                 </div>
             </div><!-- credentials section group -->
         </div><!-- credentials -->
     </div><!-- inner-content (footer-container) -->
    <div class='terms'>
        <div class='inner-content'>
            <ul>
                <li><a href='/'>&copy 2014 Reconnix Limited</a></li>

                <li><a href="/privacy">Privacy</a></li>

                <li><a href="/acceptable-use-policy">Acceptable Use Policy</a></li>

                <li><a href="/assets/files/ReconnixManagedServicesTermsandConditionsV1.2.pdf">Managed Services Terms and Conditions</a></li>

                <li><a href="/assets/files/ReconnixManagedServicesHostingandSupportContractTermsandConditions.V1.2.pdf">Hosting and Support Terms and Conditions</a></li>

                <li><a href="/careers">Careers</a></li>
            </ul>
        </div>
    </div>
 </div><!-- footer-container -->

{% endblock %}